@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    font-family: Raleway;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    margin: 0;
}
body{
    min-height: 100vh;
    min-width: 100%;
}
/* Home */
.logo{
    width: 45px;
    height: auto;
    min-width: 40px;
}
.img{
    width: 340px;
    height: auto;
}
.nav-link{
    font-size: 20px;
}
.welcome{
    margin: 10px;
    width: 15vw;
    display: block;
    text-align: center;
}
#falcons{
    color: #0057FF;
    font-weight: bold;
    font-family: Open Sans;
}
.nav-link{
    margin-left: 15px;
    margin-right: 15px;
}
.carousel-container{
    width: 60%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}
.carousel-container img{
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}
.nav-home{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-home > div{
    background-color: rgb(209, 198, 198);
    width: 140px;
    height: 50px;
    max-width: 140px;
    text-align: center;
    border-radius: 30px;
    margin: 2% 3% 2% 3%;
    padding: 10px;
}
#rules-btn{
    background-color: #ED1C24;
    filter: drop-shadow(0px 2px 25px rgba(237, 28, 35, 0.35));
}
#schedules-btn{
    background-color: #ff7300;
    filter: drop-shadow(0px 2px 25px rgba(255, 81, 0, 0.35));
}
#projects-btn{
    background-color: #F7BC14;
    filter: drop-shadow(0px 2px 25px rgba(247, 188, 20, 0.35));
}
#squad-btn{
    background-color: #00A650;
    filter: drop-shadow(0px 2px 25px rgba(0, 166, 80, 0.35));
}
#contact-btn{
    background-color: #0057FF;
    filter: drop-shadow(0px 2px 25px rgba(0, 87, 255, 0.35));
}
#rules-btn:hover{
    filter: drop-shadow(0px 2px 25px rgba(237, 28, 35, 0.7));
}
#schedules-btn:hover{
    filter: drop-shadow(0px 2px 25px rgba(255, 81, 0, 0.7));
}
#contact-btn:hover{
    filter: drop-shadow(0px 2px 25px rgba(0, 85, 255, 0.7));
}
#squad-btn:hover{
    filter: drop-shadow(0px 2px 25px rgba(0, 146, 71, 0.7));
}
#projects-btn:hover{
    filter: drop-shadow(0px 2px 25px rgba(247, 187, 20, 0.7));
}
.nav-home > div > a{
    font-size: 20px;
    line-height: 27px;
    color: white;
    text-decoration: none;
}
.nav-home div:hover{
    margin-top: 5px;
    transform: translateY(-10px);
    transition: 100ms;
    filter: drop-shadow(0px 2px 25px rgba(32, 27, 11, 0.705)); ;
}
.nav-home div:not(:hover){
    transition: 100ms;
}
.nav-link{
    font-family: Open Sans;
}
.header{
    font-family: Open Sans;
}
h4{
    text-align: center;
}
#alkitab{
    font-weight: bolder;
    font-size: 16px;
}
#ayat{
    font-size: 14px;
    font-style: italic;
}
.corevalues{
    background-color: #ED1C24;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: bolder;
}
.corevalues-container{
    width: 18em;
    filter: drop-shadow(0px 2px 25px rgba(237, 28, 36, 0.35));
}
.values{
    list-style:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.values div{
    margin-top: 100px;
    margin: 30px;
}
iframe{
    margin-bottom: 30px;
}
.alert a h2{
    margin-left: 10px;
    margin-right: 10px;
}
.alert a{
    display: block; 
    text-align: center;
    text-decoration: none;
    color: #CF0000;
    transition: 300ms;
}
.alert a:hover{
    color: #B50000;
    font-size: 20px;   
}
/* Rules */
.rules{
    text-align: justify;
    width: 90%;
    margin: 0 25px 0 0;
}
.rules h3, div, li, p{
    font-family: Open Sans;
    padding: 5px;
}
.rules h3{
    text-align: center;
    margin: 15px 0 0 0;
}
.rules-abc{
    list-style: none;
    display: block;
}
.rules-abc p{
    padding: 4px;
    margin: 0 0 0 15px;
    word-wrap: break-word;
}
.rules-abc b{
    font-family:  Open Sans;
    color: red;
}
.rules li{
    width: 100%;
}
/* Schedules */
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  }
#myBtn:hover {
    background-color: #B1B1B1;
  }
  /* 
.back-to-top-btn{
    display: none;
    border: none;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
.back-to-top-btn:hover{
    background-color: #333;
    color: #fff;
} */
/* Animations */
/* .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
@keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
}
@keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
} */
#swipe-left{
    display: none;
    margin: 10px 10px 20px 10px;
    font-size: 15px;
}
#table-container-blue {
    filter: drop-shadow(0px 2px 25px rgba(0, 87, 255, 0.35));
    opacity: 0.5;
    cursor: default;
    user-select: none;
    filter: grayscale(75%);
}

#table-container-red {
    filter: drop-shadow(0px 2px 25px rgba(237, 28, 35, 0.247));
    opacity: 0.5;
    cursor: default;
    user-select: none;
    filter: grayscale(75%);
}
#table-container-red th{
    background-color: #ED1C24;
}
#table-container-blue button{
    cursor: default;
}
#table-container-red button{
    background-color: red;
    cursor: default;
}
#table-container-yellow button{
    color: white;
}
#table-container-yellow {
    filter: drop-shadow(0px 2px 25px rgba(247, 188, 20, 0.35));
}
#table-container-yellow th{
    background-color: #F7BC14;
}
.table-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    margin-top: -25px;
}
.table-items{
    width: 800px;
    min-width: 200px;
    margin: 50px;
    border-radius: 10px;
    overflow: hidden;
}
table, th, td{
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}
th , td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: #437ae9;
    color: white;
    font-weight: bold;
}
td{
    background-color: rgb(250, 254, 255);
    width: 400px;
    max-width: 400px;
}
.join-btn{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #437ae9;
    color: white;
    font-size: 14px;
}
.footer{
    position: sticky;
    top: 100%;
    bottom: 0%;
    width: 100%;
    height: 12em;
    background-color: black;
}
.footer-item{
    text-align: center;
    padding: 10px;
}
.logo-footer{
    width: 30px;
}
.copyright{
    color: white;
}
.copyright div h5{
    font-family: Helvetica;
    font-size: 16px;
}
/* Projects */
.projects-head ul{
    list-style: none;
    margin: 0 37.5px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.projects-head ul li{
    margin: 0;
}
.projects-head ul li img{
    width: 300px;
    height: auto;
}
.projects-img{
    width: 300px;
    height: 250px;
}
.accordion-body{
    font-family: Helvetica;
    font-size: 18px;
}
#acc-color {
    font-weight: 600;
    font-size: 20px;
    font-family: Open Sans;
    border-radius: 50px;
    transition: 300ms;
    height: 60px;
}
#acc-color:hover {
    background-color: rgb(248, 248, 248);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}
#acc-color:active {
    filter: brightness(95%);
}
#acc-color h4{
    font-family: Open Sans;
}
/* Text animation */
/* .wrapper{
    font-weight: 600;
    font-family: Open Sans;
    color: black;
    overflow: hidden;
}
span{
    font-family: Open Sans;
}
#project1::before{
    content: ' ';
    animation: animate1 infinite 6s;
}
@keyframes animate1{
    0%{
        content: 'Individual task: Vlog';
        color: black;
    }
    40%{
        content: 'July 11th @ 9 p.m.';
        color: #828282;
    }
    100%{
        content: 'Individual task: Vlog';
        color: black;
    }
}
#project2::before{
    content: ' ';
    animation: animate2 infinite 6s;
}
@keyframes animate2{
    0%{
        content: 'Project 1: Squad Photo';
        color: black;
    }
    40%{
        content: 'July 12th @ 8 a.m.';
        color: #828282;
    }
    100%{
        content: 'Project 1: Squad Photo';
        color: black;
    }
}
#project3::before{
    content: ' ';
    animation: animate3 infinite 6s;
}
@keyframes animate3{
    0%{
        content: 'Project 2: Yel-Yel';
        color: black;
    }
    40%{
        content: 'July 12th @ 10 a.m.';
        color: #828282;
    }
    100%{
        content: 'Project 2: Yel-Yel';
        color: black;
    }
}
#falcons::before{
    content: "";
    animation: animate4 linear 8s ;
    color: #0057FF;
    font-weight: bold;
}
@keyframes animate4{
    30%{
        content: "New Members";
        color: #0057FF;
        font-weight: bold;

    }
    60%{
        content: "Tritunggal's 16th Batch";
        color: #0057FF;
        font-weight: bold;
    }
    100%{
        content: "Falcons!";
        color: #0057FF;
        font-weight: bold;
    }
}
#falcons:after{
    content: ' ';
    animation: animate5 ease-in-out;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}
@keyframes animate5{
    0%{
        content: 'Falcons!';
        color: #0057FF;
        font-weight: bold;
    }
    50%{
        content: 'Falcons!';
        color: #0057FF;
        font-weight: bold;
    }
    100%{
        content: 'Falcons!';
        color: #0057FF;
        font-weight: bold;
    }
}
#falcons-end::before{
    content: ' ';
    color: #0057FF;
    font-weight: bold;
    animation: animate6 infinite  16s;
    animation-delay: 8s;
}
#falcons-end::after{
    display: block;
}
@keyframes animate6{
    0%{
        content: 'Falcons!';
        margin-bottom: -40px;
        opacity: 40;
    }
    40%{
        content: 'Falcons!';
        letter-spacing: 0.4px;
        margin-bottom: -40px;
        opacity: 100;
    }
    100%{
        content: 'Falcons!';
        letter-spacing: 0.4px;
        margin-bottom: -40px;
    }
} */
.animated-text{
    white-space: nowrap;
    overflow: hidden;    
    font-family: Open Sans;  
    color: #0057FF;
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 440px;}
  }
/* Contact Us */
.card{
    margin: 0 50px 0 50px;
    width: 12rem;
}
.card-container{
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    border: none;
}
.card-container div{
    border: none;
}
/* Ask for help */
.contact-section{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contact-info{
    color: rgb(0, 0, 0);
    max-width: 500px;
    line-height: 65px;
    font-size: 18px;
}
  
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info, .contact-form{
    flex: 1;
}
.contact-form h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}
.contact-form .text-box{
    background:rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box:first-child{
    margin-right: 15px;
}
.contact-form textarea{
    background: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn{
    float: right;
    background: #F7BC14;
    color: rgb(0, 0, 0);
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.contact-form .send-btn:hover{
    background: #0582E3;
}
/*css for alert messages*/
.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}
.alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
  }
/* Squad List */
.squad-title {
    font-weight: 1000;
    color: #D40000;
    display: inline;
}
.accordion-container-squad{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    font-family: Open Sans;
    border: transparent;
    border-radius: 50px;
    padding: 10px;
}
.accordion-container-squad h2{
    border: transparent;
    border-radius: 50px;
    padding: 10px;
}
.accordion-container-squad a{
    color: blue;
    transition: 300ms;
    font-family: Open Sans;
    text-decoration: none;
}

.accordion-container-squad a:hover{
    color: rgb(15, 62, 150);
    display: inline;
    text-decoration: underline;
    filter: drop-shadow(0px 2px 25px rgba(5, 52, 145, 0.5));
}
#acc-color b{
    font-family: Open Sans;
}
@media screen and (max-width: 500px){
    .carousel-container{
        width: 360px;
    }
    .footer{
        position: relative;
    }
    #swipe-left{
        display: block;
    }
    .contact-section{
      flex-direction: column;
    }
    .contact-info{
        font-size: 12px;
    }
    .contact-info, .contact-form{
      margin: 30px 50px;
    }
    .contact-form h2{
      font-size: 30px;
    }
    .contact-form .text-box{
      width: 100%;
    }
    .projects-img{
        width: 300px;
        height: 250px;
    }
    .accordion-body p{
        font-size: 15px;
        text-align: justify;
    }
    .card{
        width: 10rem;
    }
    .table-container{
        overflow-wrap: break-word;
        overflow: auto;
        border-radius: 10px;
    }
    table, th, td, .join-btn{
        font-size: 12px;
    }
    .table-items{
        width: 320px;
        min-width: 100px;
        margin: 50px;
        border-radius: 10px;
    }
    .rules{
        font-size: 14px;
        width: 95%;
    }
    .rules h3{
        font-size: 20px;
    }
    @keyframes animated-text{
    from{width: 0;}
    to{width: 300px;}
  }
}
@media screen and (max-width: 300px){
    .carousel-container{
        width: 250px;
    }
    @keyframes animated-text{
        from{width: 0;}
        to{width: 220px;}
    }
    .corevalues-container{
        width: 14em;
        filter: drop-shadow(0px 2px 25px rgba(237, 28, 36, 0.35));
    }
    .projects-img{
        width: 170px;
        height: 150px;
    }
    .rules h3{
        font-size: 16px;
    }
}
@media only screen and (min-device-width: 660px) and (max-device-width: 812px) {
    .table-container{
        overflow-wrap: break-word;
        overflow: auto;
    }
    table, th, td, .join-btn{
        font-size: 12px;
    }
    .table-items{
        width: 350px;
        min-width: 100px;
        margin: 50px;
        border-radius: 10px;
        overflow-wrap: break-word;
        overflow-x: auto;
    }
    .join-btn{
        width: 80px;
        height: 30px;
    }
    .projects-head ul {
        margin-right: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 0 0 0;
    }
    .projects-head ul li img{
        width: 200px;
    }
    .projects-img{
        width: 300px;
        height: 300px;
    }
     #acc-color {
        font-weight: 600;
        font-size: 20px;
        border-radius: 50px;
        height: 60px;
    }
    label, input, #isi{
        max-width: 250px;
        width: 250px;
    }
    .carousel-container{
        width: 400px;
    }
    .back-to-top-btn{
        font-size: 18px;
        width: 32px;
        height: 32px;
    }
    .rules{
        font-size: 16px;
        width: 95%;
    }
}
/* 
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

#myBtn:hover {
  background-color: #B1B1B1;
}
 */